page-pay {
    .sample-modal-page {
        padding: 30px;
        background: rgba(0,0,0,0.5);
    }

    .main-content {
        background-color:#FFF;
        padding: 16px;
        border-radius: 6px;
    }
}
