<!--
  Generated template for the OrderingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>Detail Transaksi</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items['penjualandetails']; let i = index">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h2>{{item.nm_produk}}</h2>
            <p>{{item.hargas | currency:"Rp. ": true:'1.0' }}</p>
          </ion-col>
          <ion-col col-3>
            <div class="item-note">
              x {{ item.jumlahs }}
            </div>
          </ion-col>
          <ion-col col-3>
            <div class="item-note" item-end>
              {{ item.jumlahs*item.hargas | currency:"Rp. ": true:'1.0' }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>



<ion-footer class="padding-small">
  <button ion-button small color="danger" full (click)="submit()" *ngIf="status_bayar == 1">Bayar</button>
  <button ion-button small color="secondary" full (click)="print()" *ngIf="status_bayar == 2">Cetak</button>
</ion-footer>