page-home {
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 0;
    }
    #notifications-badge {
        background-color: #f53d3d;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
        border: 0;
        -webkit-box-shadow: 0;
        box-shadow: none;
    }
    .list-md .item-block .item-inner, .item-md.item-block .item-inner {
        border-bottom: 0;
    }
}
